/* 角色文本卡片样式 */
.charcard {
    color: var(--color-b1);
    border: 2px solid var(--color-secondary-d2);
    box-shadow: 2px 2px 5px rgba(var(--color-shadow-rgb), 0.3);
    padding: 0.8em 1em;
    border-radius: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* 角色图片样式 */
.charimg {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 128px;
    margin-bottom: 1rem;
}

/* 角色文本卡片背景色 */
.char-anon {
    background-color: var(--color-anon);
}

.char-soyo {
    background-color: var(--color-soyo);
}

.char-tomori {
    background-color: var(--color-tomori);
}

.char-taki {
    background-color: var(--color-taki);
}

.char-rana {
    background-color: var(--color-rana);
}

/* 须知标题卡片 */
.warn-card {
    color: var(--color-text2);
    background-color: var(--color-accent-d2);
    border: none;
    box-shadow: 2px 2px 5px rgba(var(--color-shadow-rgb), 0.3);
    padding: 0 4em;
    border-radius: 2em;
    font-weight: bold;
    display: inline-block;
    border-radius: 2em;
    text-align: center;
}

.warn-card .title {
    color: var(--color-accent-l2);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.warn-card .subtitle {
    color: var(--color-accent-l);
    font-size: 1.5em;
    margin-top: -0.6em;
}

/* 菜单选项卡 */
.menucard-container {
    display: grid;
    gap: 12px;
    justify-content: center;
}

.menucard {
    border-radius: 1em;
    padding: 24px;
    width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.4s ease;
    overflow: hidden;
    font-family: sc-icons !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: never;
    text-rendering: auto;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menucard-text-block {
    flex: 1
}

.menucard-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transition: transform 0.4s ease;
    transform-origin: left top;
}

.menucard-sub {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 4px;
    color: white;
    transition: transform 0.4s ease;
    transform-origin: left top;
}

.menucard-desc {
    font-size: .75rem;
    color: white;
    margin-top: 12px;
    max-height: 100px;
    line-height: 1.4;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease
}

.menucard:hover {
    transform: scale(1.1)
}

.menucard:hover .menucard-desc {
    max-height: 0;
    opacity: 0;
}

.menucard:hover .menucard-title {
    transform: scale(2)
}

.menucard:hover .menucard-sub {
    transform: translateY(10px) translateX(2px) scale(1.5)
}

.menucard-arrow {
    font-size: 2.5rem;
    color: white;
    margin-top: 10px;
    transition: transform 0.3s ease
}

.menucard:hover .menucard-arrow {
    transform: scale(1.25);
}

.menucard-arrow.clickx {
    animation: menucard-x 0.3s ease
}

.menucard-arrow.clicky {
    animation: menucard-y 0.3s ease
}

.menucard-arrow.clickr {
    animation: menucard-r 0.6s ease
}

@keyframes menucard-x {
    0% {
        transform: translateX(0px) scale(1.25)
    }

    50% {
        transform: translateX(30px) scale(1.25)
    }

    100% {
        transform: translateX(0px) scale(1.25)
    }
}

@keyframes menucard-y {
    0% {
        transform: translateY(0px) scale(1.25)
    }

    50% {
        transform: translateY(-40px) scale(1.25)
    }

    100% {
        transform: translateY(0px) scale(1.25)
    }
}

@keyframes menucard-r {
    0% {
        transform: rotate(0deg) scale(1.25)
    }

    100% {
        transform: rotate(360deg) scale(1.25)
    }
}

/* 手机适配 */
@media (max-width:500px) {
    .menucard-container {
        align-items: center;
        gap: 6px;
        padding: 15px;
    }

    .menucard {
        width: auto;
        padding: 15px;
    }

    .menucard-title {
        font-size: 1.5rem;
    }

    .menucard-sub {
        font-size: 1rem;
    }

    .menucard-desc {
        font-size: 0.75rem;
    }

    .menucard-arrow {
        font-size: 2rem;
    }
}