/* 角色文本卡片样式 */
.charcard {
    color: var(--color-b1);
    border: 2px solid var(--color-secondary-d2);
    box-shadow: 2px 2px 5px rgba(var(--color-shadow-rgb), 0.3);
    padding: 0.8em 1em;
    border-radius: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.charimg {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 128px;
    margin-bottom: 1rem;
}

/* 角色文本卡片背景色 */
.char-anon {
    background-color: var(--color-anon);
}

.char-soyo {
    background-color: var(--color-soyo);
}

.char-tomori {
    background-color: var(--color-tomori);
}

.char-taki {
    background-color: var(--color-taki);
}

.char-rana {
    background-color: var(--color-rana);
}