/* 角色文本卡片背景色 */
.charcard-anon {
    background-color: var(--color-anon);
}

.charcard-soyo {
    background-color: var(--color-soyo);
}

.charcard-tomori {
    background-color: var(--color-tomori);
}

.charcard-taki {
    background-color: var(--color-taki);
}

.charcard-rana {
    background-color: var(--color-rana);
}

.charcard-mygo {
    background-color: var(--color-mygo);
}

/* 角色名字文本颜色 */
.name-anon {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-anon);
    font-weight: bold;
}

.name-soyo {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-soyo);
    font-weight: bold;
}

.name-tomori {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-tomori);
    font-weight: bold;
}

.name-taki {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-taki);
    font-weight: bold;
}

.name-rana {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-rana);
    font-weight: bold;
}

.name-mygo {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-mygo);
    font-weight: bold;
}

/* 未定义角色变量 */
.name-undef {
    text-shadow:
        -1px -1px 0 var(--color-b1);
    ,
    1px -1px 0 var(--color-b1);
    ,
    -1px 1px 0 var(--color-b1);
    ,
    1px 1px 0 var(--color-b1);
    ;
    color: var(--color-w2);
    font-weight: bold;
}