/* 视觉效果 */
/* 点击圆圈 */
.click-circle {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--color-accent);
    opacity: 1;
    transform: scale(1);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    pointer-events: none;
    z-index: 9999;
    /* 保证圆圈显示在最顶层 */
}

/* 正弦波背景 */
#wave-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    /* 显示在最底层 */
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.3;
    -webkit-opacity: 0.3;
}

.wbg-close #wave-bg {
    display: none;
}

.wbg-x #wave-bg {
    transform: rotate(90deg);
}

.wbg-125 #wave-bg {
    transform: scale(1.25);
}

.wbg-150 #wave-bg {
    transform: scale(1.5);
}

.wbg-200 #wave-bg {
    transform: scale(2);
}

.wbg-x-125 #wave-bg {
    transform: rotate(90deg) scale(1.25);
}

.wbg-x-150 #wave-bg {
    transform: rotate(90deg) scale(1.5);
}

.wbg-x-200 #wave-bg {
    transform: rotate(90deg) scale(2);
}

/* 闪烁 */
@keyframes blinking {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinking 3s infinite;
}