#menu-container {
    align-items: center;
    text-align: center;
    max-height: 100vh;
}

/* menulogo */
#menu-logo {
    -webkit-touch-callout: none;
    user-select: none;
    transition: transform 0.3s ease;
    height: auto;
    width: auto;
    max-width: 320px;
    min-width: 120px;
    margin: auto;
}

#menu-logo:hover {
    transform: scale(1.1);
}

#menu-button {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    gap: 3em;
    box-sizing: border-box;
}

#menu-button button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-button button:focus {
    outline: none;
}

#menu-button button:hover {
    color: var(--color-link);
}