/*字体导入*/
@font-face {
    font-family: "default";
    src: local;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "unifont";
    src: url(fonts/unifont.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

/*字体*/
/*主要应该引用的地方: .passage, #ui-dialog, #ui-bar, #notify*/
.default body {
    font-family: '系统字体', default;
}

.unifont body {
    font-family: '像素字体', unifont
}

/*对齐*/
.textcenter .passage {
    text-align: center;
}

/*行高*/
.lh-small .passage {
    line-height: 1.2;
}

.lh-medium .passage {
    line-height: 1.6;
}

.lh-large .passage {
    line-height: 2.0;
}

.lh-biggest .passage {
    line-height: 2.4;
}

.settings button {
    color: var(--color-text1);
    background-color: var(--color-primary-l2);
    border-color: var(--color-primary-d);
    padding: 0.2em 0.8em;
    border-radius: 10px;
}