/* interlude标签处理 */
[data-tags~="interlude"] body {
    background-color: var(--color-b2);
    color: var(--color-w4)
}

[data-tags~="interlude"] #ui-bar {
    display: none
}

[data-tags~="interlude"] .passage {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background: transparent;
}

[data-tags~="interlude"] #wave-bg {
    display: none
}