/* 这里包含所有css样式的配色，请不要在其他地方添加颜色相关属性以免被覆盖
    主题配色：
        默认-theme-drk为暗色主题"夜隠染"  |  黑蓝主题  |  "夜空尽染遍"
        theme-lgt为亮色主题"明弦音"  |  白蓝主题  |  "明亮弦清音"
        theme-szk为亮色主题"壱雫空"  |  蓝绿主题  |  "雨过天晴空"
        theme-nrs为亮色主题"無路矢"  |  黄蓝主题  |  "大漠狼烟起"
        theme-shd为暗色主题"影色舞"  |  紫蓝主题  |  "影色中起舞"
        theme-szhm为暗色主题"潜在表明"  |  紫蓝主题  |  "深渊心新生"
        theme-myu为暗色主题"迷星叫"  |  绿蓝主题  |  "迷星光交错"
    这里配置了每个主题的颜色变量，可以直接在每个主题的root内修改
*/

:root {
    /* 角色主题色 */
    --color-anon: #ff8899;
    --color-soyo: #ffdd88;
    --color-tomori: #77bbdd;
    --color-taki: #7777aa;
    --color-rana: #77dd77;
    --color-mygo: #3388bb;
    --color-saki: #7799cc;
    --color-umiri: #335566;
    --color-uika: #bb9955;
    --color-nyamu: #aa4477;
    --color-mutsumi: #779977;
    --color-mana: #73535a;
    --color-mujica: #881144;
    --color-crychic: #60c0c4;
    --color-sumimi1: #bbff77;
    --color-sumimi2: #fbfc66;
    --color-ppp: #ff3377;
    --color-ag: #ee3344;
    --color-pp: #33ddaa;
    --color-rose: #3344aa;
    --color-hhw: #ffdd00;
    --color-monica: #33aaff;
    --color-ras: #33cccc;

    /* 黑白色带 */
    --color-b1: #111;
    --color-b2: #333;
    --color-b3: #666;
    --color-b4: #999;
    --color-b5: #aaa;
    --color-w1: #bbb;
    --color-w2: #ccc;
    --color-w3: #ddd;
    --color-w4: #eee;
    --color-w5: #fff;
}

:root.theme-drk {
    /* 默认-暗色主题"夜隠染" */

    /* 主色调-黑 */
    --color-primary: #1a1a2a;
    --color-primary-l: #2a2a3c;
    --color-primary-l2: #3a3a4d;
    --color-primary-d: #0d0d1a;
    --color-primary-d2: #05050f;

    /* 副色调-蓝 */
    --color-secondary: #3388bb;
    --color-secondary-l: #5fa3d1;
    --color-secondary-l2: #8dbedd;
    --color-secondary-d: #2672a3;
    --color-secondary-d2: #1a5c8a;

    /* 强调色-黄 */
    --color-accent: #ffba1a;
    --color-accent-l: #ffda61;
    --color-accent-l2: #f6e5b1;
    --color-accent-d: #ffa31a;
    --color-accent-d2: #ff7e38;

    /* 暗色字体 */
    --color-text1: var(--color-w5);
    --color-text2: var(--color-b1);

    /* 暗色阴影 */
    --color-shadow-rgb: var(--color-secondary-l2-rgb);

    /* 暗色链接 */
    --color-link: var(--color-secondary-l2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-l);
}

:root.theme-lgt {
    /* 亮色主题"明弦音" */

    /* 主色调-白 */
    --color-primary: #e6e6e6;
    --color-primary-l: #f2f2f2;
    --color-primary-l2: #ffffff;
    --color-primary-d: #d9d9d9;
    --color-primary-d2: #cccccc;

    /* 副色调-蓝 */
    --color-secondary: #8dbedd;
    --color-secondary-l: #b4d4e6;
    --color-secondary-l2: #d1e6f0;
    --color-secondary-d: #6da4cc;
    --color-secondary-d2: #4c8ab4;

    /* 强调色-粉 */
    --color-accent: #ff4d70;
    --color-accent-l: #ff7086;
    --color-accent-l2: #ff8a9b;
    --color-accent-d: #ff295b;
    --color-accent-d2: #ff0040;

    /* 亮色字体 */
    --color-text1: var(--color-b1);
    --color-text2: var(--color-w5);

    /* 亮色阴影 */
    --color-shadow-rgb: var(--color-secondary-d2-rgb);

    /* 亮色链接 */
    --color-link: var(--color-secondary-d2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-l);
}

:root.theme-szk {
    /* 亮色主题"壱雫空" */

    /* 主色调-雫绿 */
    --color-primary: #7ac0cc;
    --color-primary-l: #9bd4dd;
    --color-primary-l2: #b8e2e8;
    --color-primary-d: #5dafbc;
    --color-primary-d2: #469ca9;

    /* 副色调-迷子蓝 */
    --color-secondary: #3388bb;
    --color-secondary-l: #5fa3d1;
    --color-secondary-l2: #8dbedd;
    --color-secondary-d: #2672a3;
    --color-secondary-d2: #1a5c8a;

    /* 强调色-橙 */
    --color-accent: #ffa07a;
    --color-accent-l: #ffc4a8;
    --color-accent-l2: #ffe0d4;
    --color-accent-d: #f08058;
    --color-accent-d2: #d1653e;

    /* 亮色字体 */
    --color-text1: var(--color-b1);
    --color-text2: var(--color-w5);

    /* 亮色阴影 */
    --color-shadow-rgb: var(--color-secondary-d2-rgb);

    /* 亮色链接 */
    --color-link: var(--color-secondary-d2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-d2);
}

:root.theme-nrs {
    /* 亮色主题"無路矢" */

    /* 主色调-沙黄 */
    --color-primary: #d4b48e;
    --color-primary-l: #e6d2b8;
    --color-primary-l2: #f4e9dc;
    --color-primary-d: #c09e70;
    --color-primary-d2: #a88555;

    /* 副色调-深蓝 */
    --color-secondary: #5a7ca5;
    --color-secondary-l: #7e9ec4;
    --color-secondary-l2: #a8c0db;
    --color-secondary-d: #456b91;
    --color-secondary-d2: #31567a;

    /* 强调色-深红 */
    --color-accent: #b34a4a;
    --color-accent-l: #cf7878;
    --color-accent-l2: #e5a9a9;
    --color-accent-d: #963434;
    --color-accent-d2: #792222;

    /* 亮色字体 */
    --color-text1: var(--color-b1);
    --color-text2: var(--color-w5);

    /* 亮色阴影 */
    --color-shadow-rgb: var(--color-secondary-d2-rgb);

    /* 亮色链接 */
    --color-link: var(--color-secondary-d2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-d2);
}

:root.theme-shd {
    /* 暗色主题"影色舞" */

    /* 主色调-光蓝 */
    --color-primary: #3a75e6;
    --color-primary-l: #6a95ff;
    --color-primary-l2: #94b3ff;
    --color-primary-d: #1d4fc7;
    --color-primary-d2: #0a2d8f;

    /* 副色调-影紫 */
    --color-secondary: #8b65fe;
    --color-secondary-l: #a88cff;
    --color-secondary-l2: #c5b3ff;
    --color-secondary-d: #6d4ce6;
    --color-secondary-d2: #4f35c2;

    /* 强调色-亮红 */
    --color-accent: #ff6b6b;
    --color-accent-l: #ff8f8f;
    --color-accent-l2: #ffbdbd;
    --color-accent-d: #e64c4c;
    --color-accent-d2: #c73232;

    /* 暗色字体 */
    --color-text1: var(--color-w5);
    --color-text2: var(--color-b1);

    /* 暗色阴影 */
    --color-shadow-rgb: var(--color-secondary-l2-rgb);

    /* 暗色链接 */
    --color-link: var(--color-secondary-l2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-l2);
}

:root.theme-szhm {
    /* 暗色主题"潜在表明" */

    /* 主色调-深紫 */
    --color-primary: #48466D;
    --color-primary-l: #5D5B83;
    --color-primary-l2: #75739B;
    --color-primary-d: #353356;
    --color-primary-d2: #242340;

    /* 副色调-渊蓝 */
    --color-secondary: #3D5A79;
    --color-secondary-l: #4F6E8D;
    --color-secondary-l2: #6B89A6;
    --color-secondary-d: #2B435D;
    --color-secondary-d2: #1A3045;

    /* 强调色-光金 */
    --color-accent: #FFD700;
    --color-accent-l: #FFE55C;
    --color-accent-l2: #FFF0A3;
    --color-accent-d: #E5C100;
    --color-accent-d2: #CCAA00;

    /* 暗色字体 */
    --color-text1: var(--color-w5);
    --color-text2: var(--color-b1);

    /* 暗色阴影 */
    --color-shadow-rgb: var(--color-secondary-l2-rgb);

    /* 暗色链接 */
    --color-link: var(--color-secondary-l2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-l);
}

:root.theme-myu {
    /* 暗色主题"迷星叫" */

    /* 主色调-深绿 */
    --color-primary: #2D545E;
    --color-primary-l: #3E6A75;
    --color-primary-l2: #54828D;
    --color-primary-d: #1F404A;
    --color-primary-d2: #122C36;

    /* 副色调-光蓝 */
    --color-secondary: #5F9EA0;
    --color-secondary-l: #7FB9B9;
    --color-secondary-l2: #A3D2D2;
    --color-secondary-d: #458486;
    --color-secondary-d2: #2D696B;

    /* 强调色-星芒 */
    --color-accent: #BE9D2D;
    --color-accent-l: #D4B44E;
    --color-accent-l2: #E7CB6F;
    --color-accent-d: #9C7F1F;
    --color-accent-d2: #786215;

    /* 暗色字体 */
    --color-text1: var(--color-w5);
    --color-text2: var(--color-b1);

    /* 暗色阴影 */
    --color-shadow-rgb: var(--color-secondary-l2-rgb);

    /* 暗色链接 */
    --color-link: var(--color-secondary-l2);
    
    /* 提示与警告 */
    --color-warn: var(--color-accent-l);
}

:root.theme-sober-d {
    /* Sober.js组件配色dark */
    --s-color-primary: var(--color-secondary);
    --s-color-on-primary: var(--color-text1);
    --s-color-primary-container: #004b6f;
    --s-color-on-primary-container: #c9e6ff;
    --s-color-secondary: #b7c9d9;
    --s-color-on-secondary: var(--color-text2);
    --s-color-secondary-container: #384956;
    --s-color-on-secondary-container: #d3e5f5;
    --s-color-tertiary: #cfc0e8;
    --s-color-on-tertiary: #352b4b;
    --s-color-tertiary-container: #4c4162;
    --s-color-on-tertiary-container: #eaddff;
    --s-color-error: #ffb4ab;
    --s-color-on-error: #690005;
    --s-color-error-container: #93000a;
    --s-color-on-error-container: #ffb4ab;
    --s-color-background: #191c1d;
    --s-color-on-background: #e2e2e5;
    --s-color-outline: #8b9198;
    --s-color-outline-variant: #41474d;
    --s-color-surface: #1a1c1e;
    --s-color-on-surface: #e2e2e5;
    --s-color-surface-variant: #41474d;
    --s-color-on-surface-variant: #c1c7ce;
    --s-color-inverse-surface: #2e3133;
    --s-color-inverse-on-surface: #e2e2e5;
    --s-color-inverse-primary: var(--color-secondary);
    --s-color-surface-container: #1e2022;
    --s-color-surface-container-lowest: #0c0e11;
    --s-color-surface-container-low: #1a1c1e;
    --s-color-surface-container-high: #282a2d;
    --s-color-surface-container-highest: #333537;
}

:root.theme-sober-l {
    /* Sober.js组件配色light */
    --s-color-primary: var(--color-secondary);
    --s-color-on-primary: var(--color-text1);
    --s-color-primary-container: #c9e6ff;
    --s-color-on-primary-container: #001e2f;
    --s-color-secondary: #50606e;
    --s-color-on-secondary: var(--color-text2);
    --s-color-secondary-container: #d3e5f5;
    --s-color-on-secondary-container: #0c1d29;
    --s-color-tertiary: #64597b;
    --s-color-on-tertiary: #ffffff;
    --s-color-tertiary-container: #eaddff;
    --s-color-on-tertiary-container: #201634;
    --s-color-error: #ba1a1a;
    --s-color-on-error: #ffffff;
    --s-color-error-container: #ffdad6;
    --s-color-on-error-container: #410002;
    --s-color-background: #fcfcff;
    --s-color-on-background: #191c1d;
    --s-color-outline: #72787e;
    --s-color-outline-variant: #c1c7ce;
    --s-color-surface: #fcfcff;
    --s-color-on-surface: #1a1c1e;
    --s-color-surface-variant: #dde3ea;
    --s-color-on-surface-variant: #41474d;
    --s-color-inverse-surface: #e2e2e5;
    --s-color-inverse-on-surface: #2e3133;
    --s-color-inverse-primary: var(--color-secondary);
    --s-color-surface-container: #edeef1;
    --s-color-surface-container-lowest: #e2e2e5;
    --s-color-surface-container-low: #e7e8eb;
    --s-color-surface-container-high: #f3f3f6;
    --s-color-surface-container-highest: #ffffff;
}