/* 新ui使用 */
.sidebar {
  width: auto
}
.bar-button {
  display: flex;
  width: auto;
  border-radius: 4px;
  padding: 0 16px;
  text-align: center
}
.appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: #191c1d;
  z-index: 1000
}
.sidebar-content {
  width: auto;
  height: 100vh;
  background-color: #191c1d;
}
.main-passage {
  margin: 20% 10px 10px;
  width: auto
}
/* 新ui使用部分结束 */
.passage-button {
  display: grid;
  width: auto;
  border-radius: 5px;
  padding: 0 16px;
  text-align: center
}