#ui-bar {
    /* Q弹小动画 */
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    backdrop-filter: blur(8px);
    /* 兼容Safari */
    -webkit-backdrop-filter: blur(8px);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

#story {
    transition: margin-left 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55)
}