/*字体导入*/
@font-face {
    font-family: "default";
    src: local;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "unifont";
    src: url(fonts/unifont.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}
/*字体*/
/*主要应该引用的地方: .passage, #ui-dialog, #ui-bar, #notify*/
.default body {font-family: '系统字体', default;}
.unifont body {font-family:  "像素字体", unifont}
/*对齐*/ 
.justified .passage {text-align: justify;}

/*行高*/
.lh-small .passage {line-height: 1.2;}
.lh-medium .passage {line-height: 1.6;}
.lh-large .passage {line-height: 2.0;}
.lh-biggest .passage {line-height: 2.4;}