/* sugarcube和原生组件替换部分 */
button {
  border-radius: 5px;
  height: auto;
}
#menu ul {
  border-radius: 5px;
  height: auto;
}
#menu li {
  border-radius: 5px;
  height: auto;
}
#menu li a {
  display: block;
  border-radius: 5px;
  height: auto;
}
#menu li a:hover {
  border-radius: 5px;
  height: auto;
}
/* 自定义部分 */
.sober-button {
  display: flex;
  width: auto;
  border-radius: 5px;
  text-align: center;
}
.sugar-button {
  display: grid;
  width: auto;
  text-align: center;
}