:root {
    /* 移除移动浏览器默认点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

/* sugarcube和原生组件替换部分，感谢诺尔老师、梦见的河老师的css界面设计！ */
/*Body*/
body {
    background-color: var(--color-primary);
    color: var(--color-text1);
    font-weight: 500;
    font-size: 16px;
    overflow: auto;
}

/*原生按钮 和 link链接*/
button {
    color: var(--color-text1);
    background-color: var(--color-secondary-d);
    border: none;
    border-radius: 1em;
    outline: none;
    text-align: center;
    transition: transform 0.3s ease;
}

button:hover {
    color: var(--color-accent-d2);
    background-color: var(--color-accent-l2);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(var(--color-shadow-rgb), 0.8);
}

button:disabled {
    background-color: var(--color-primary-d);
    opacity: 0.7;
}

button:disabled:hover {
    color: var(--color-accent-d2);
}

a {
    display: inline;
    font-weight: bold;
    color: var(--color-primary-l);
    /* 去除passage内文本下划线 */
    text-decoration: none;
    background-color: var(--color-link);
    padding: 3px 15px;
    text-align: center;
    border-radius: 1em;
    line-height: 2rem;
    outline: none;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: padding-box;
}

a:hover {
    color: var(--color-accent-d2);
    background-color: var(--color-accent-l2);
    box-shadow: 0px 0px 10px rgba(var(--color-shadow-rgb), 0.8);
}

/* story和passage */
#story {
    /* 确保passage内容被uibar展开时遮挡，覆盖引擎内置的宽屏对齐方式 */
    margin-left: 3.5em;
    /* passage部分收展时动画 */
    transition: margin-left 600ms cubic-bezier(0.7, -1, 0.3, 2);
}

/* 隐藏默认侧边栏标题 */
#story-title {
    display: none;
}

.passage {
    background-color: rgba(var(--color-primary-l-rgb), 0.8);
    border-radius: 2em;
    padding: 15px;
}

.passage caption,
.passage td,
.passage th,
.passage tr {
    border: 1px solid var(--color-primary-d2);
}

/* passage内链接 */
.passage a.link-internal {
    display: inline;
    font-weight: bold;
    color: var(--color-primary-l);
    /* 去除passage内文本下划线 */
    text-decoration: none;
    background-color: var(--color-link);
    padding: 3px 15px;
    text-align: center;
    border-radius: 1em;
    line-height: 2rem;
    outline: none;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: padding-box;
}

.passage a.link-internal:hover {
    color: var(--color-accent-d2);
    background-color: var(--color-accent-l2);
    box-shadow: 0px 0px 10px rgba(var(--color-shadow-rgb), 0.8);
}

/*原生组件*/
input,
select,
textarea {
    color: var(--color-text1);
    background-color: var(--color-primary-l2);
    border-color: var(--color-primary-d);
    padding: 0.2em 0.8em;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

input:not(:disabled):focus,
select:not(:disabled):focus,
textarea:not(:disabled):focus,
input:not(:disabled):hover,
select:not(:disabled):hover,
textarea:not(:disabled):hover {
    background-color: var(--color-secondary-l);
    border-color: var(--color-primary-d2);
    transform: scale(1.1);
}

/* 表格 */
label {
    font-weight: bold;
}

hr {
    border-color: var(--color-primary-d);
    margin: 0.1em auto;
}

/* 基础滚动条样式 
*::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

/* 滚动条轨道 
*::-webkit-scrollbar-track {
    background: rgba(var(--color-primary), 0.1);
    border-radius: 8px;
}

/* 滚动条滑块 
*::-webkit-scrollbar-thumb {
    background: var(--color-secondary-l);
    border-radius: 10px;
    border: none;
}

/* 滚动条滑块 hover 状态 
*::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-l2);
}*/

/* 选择文本高亮 */
*::selection {
    background: rgba(var(--color-accent-rgb), 0.3);
}

/* 输入框placeholder */
*::placeholder {
    color: var(--color-primary-d);
    opacity: 0.7;
}

/*UI 侧边栏*/
#ui-bar {
    width: 17.7em;
    border: 4px solid var(--color-secondary-l);
    background-color: rgba(var(--color-secondary-rgb), 0.25);
    /* 收展时小动画 */
    transition:
        all 600ms cubic-bezier(0.7, -1, 0.3, 2);
    backdrop-filter: blur(8px);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(var(--color-shadow-rgb), 0.3);
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    -ms-overflow-style: none;
}

#ui-bar-body {
    overflow: auto;
    margin: 1.8rem auto;
    scrollbar-width: none;
}

#ui-bar-tray button::before {
    font-size: 1.2em;
}

#ui-bar-tray button {
    border: none;
    color: var(--color-link);
    margin: 0.2em;
    padding: 0.4rem;
}

#ui-bar-tray button:hover {
    background-color: var(--color-secondary-d);
    border-color: none;
    color: var(--color-accent-l);
}

#ui-bar-toggle {
    color: var(--color-accent);
    border-radius: 8px;
}

#ui-bar-toggle:hover {
    color: var(--color-accent-d2);
}

#ui-bar-toggle::before {
    content: "\f0d9";
}

#ui-bar.stowed #ui-bar-toggle::before {
    content: "\f0c9";
}

#ui-bar-history [id|="history"]:disabled {
    border-color: var(--color-accent-d2);
    color: var(--color-accent-d);
    border-radius: 8px;
}

#ui-bar-history [id|="history"] {
    border-color: var(--color-accent);
    color: var(--color-link);
}

#ui-bar-history [id|="history"]:hover {
    background-color: var(--color-accent-l2);
    border-color: none;
    color: var(--color-accent);
    border-radius: 8px;
}

/* 收起侧边栏容器 */
.portrait {
    width: 100%;
    height: auto;
}

#statebox {
    visibility: hidden;
    position: fixed;
    top: 5%;
    right: 0.28em;
}

#ui-bar.stowed #statebox {
    visibility: visible;
    transition: visibility 200ms step-end;
}

.uibartext {
    display: flex;
    color: var(--color-text1);
    background-color: var(--color-primary);
    border: 2px solid;
    border-color: var(--color-secondary-l);
    border-radius: 0.3em;
    width: 1.7rem;
    height: auto;
    margin: 0.2em auto;
    font-size: 20px;
    font-weight: 900;
    writing-mode: vertical-rl;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
}

.statetext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text1);
    background-color: var(--color-primary);
    border: 2px solid;
    border-color: var(--color-secondary-l);
    border-radius: 0.3em;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.2em auto;
    font-size: 20px;
    font-weight: 900;
}

/* 侧边按钮整体 */
#menu ul {
    padding: 0px;
    list-style: none;
    border: transparent;
}

#ui-bar-toggle,
#ui-bar-history [id|="history"] {
    color: var(--color-text1);
    border-color: var(--color-primary-d);
}

#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
    background-color: var(--color-primary-l);
    border-color: var(--color-primary-d2);
}

#ui-bar-history [id|="history"]:disabled {
    color: var(--color-primary-d);
    background-color: transparent;
    border-color: var(--color-primary-d);
}

#menu ul {
    color: var(--color-text1);
    border-color: var(--color-secondary-l2);
    border-radius: 5px;
    height: auto;
}

#menu li:not(:first-child) {
    border-top-color: var(--color-primary-d);
}

#menu li {
    border-radius: 5px;
    height: auto;
}

#menu li a {
    color: var(--color-b2);
    background-color: var(--color-secondary-l2);
    border-color: var(--color-secondary);
    display: block;
    border-radius: 5px;
    height: auto;
    line-height: 1.5;
    transition: transform 0.3s ease;
}

#menu li a:hover {
    color: var(--color-w4);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-d);
    border-radius: 5px;
    height: auto;
    transform: scale(1.1);
}

#ui-bar.stowed~#story {
    /* 确保passage内容被uibar展开时遮挡，覆盖引擎内置的宽屏对齐方式 */
    margin-left: 3.5em;
}

#ui-bar.stowed #ui-bar-body,
#ui-bar.stowed #ui-bar-history {
    /* 收起时渐隐侧边栏内容 */
    opacity: 0;
    visibility: hidden;
    transition:
        max-height 500ms ease,
        opacity 300ms ease,
        visibility 300ms ease 300ms;
}

#ui-bar:not(.stowed) #ui-bar-body,
#ui-bar:not(.stowed) #ui-bar-history {
    /* 展开时渐显侧边栏内容 */
    opacity: 1;
    visibility: visible;
    transition:
        max-height 500ms ease,
        opacity 300ms ease,
        visibility 300ms ease;
}

/*UI 弹窗*/
#ui-overlay {
    background-color: rgba(var(--color-b2), 0.75);
    backdrop-filter: blur(4px);
    /* 添加模糊效果 */
    -webkit-backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    position: fixed;
    top: -50vh;
    left: -50vw;
    height: 200vh;
    width: 200vw;
}

#ui-overlay.open {
    visibility: visible;
    display: block;
    transition: opacity 200ms ease-in;
    opacity: 1;
}

#ui-overlay:not(.open) {
    transition: visibility 200ms step-end, opacity 200ms ease-in;
}

#ui-dialog {
    overflow: auto;
    min-width: 35rem;
    max-width: 50%;
    max-height: calc(100% - 7rem);
    z-index: 100100;
    position: fixed;
    top: 5rem;
    scrollbar-width: none;
    scrollbar-heigth: none;
}

#ui-dialog>* {
    box-sizing: border-box;
}

#ui-dialog-titlebar {
    min-width: 100%;
    max-width: 100%;
    position: relative;
    background-color: var(--color-secondary-l);
    border: 3px solid var(--color-secondary-d);
    border-radius: .5em;
    margin: 20px auto;
}

#ui-dialog-title {
    padding: 10px;
    color: var(--color-text1);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

#ui-dialog-close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    color: var(--color-text1);
    cursor: pointer;
    font-size: 120%;
    margin: 0;
    padding: 0;
    width: 3.6em;
    height: 100%;
    background-color: transparent;
    border: transparent;
    transition-duration: 200ms;
}

#ui-dialog-close:hover {
    color: var(--color-accent-d);
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

#ui-dialog-body {
    height: calc(100% - 3rem);
    color: var(--color-text1);
    background-color: var(--color-primary-l);
    border: 3px solid var(--color-secondary-d);
    text-align: left;
    line-height: 1.5;
    padding: 20px;
    border-radius: 1em;
}

#ui-dialog-body>*:first-child {
    margin-top: 0;
}

#ui-dialog-body hr {
    background-color: var(--color-primary-d2);
}

#ui-dialog-body.saves>h2 {
    background-color: var(--color-primary-l);
}

#ui-dialog-body.saves .empty {
    color: var(--color-text1);
}

#ui-dialog-body.saves #saves-list button:disabled {
    color: var(--color-accent-d2);
    border-color: var(--color-accent-d);
}

#ui-dialog-body.saves #saves-list button {
    color: var(--color-secondary-l2);
    border-color: var(--color-secondary-d);
}

#ui-dialog-body.saves>*:not(:first-child) {
    border-top: 1px solid var(--color-secondary-d2);
}

#ui-dialog-body.saves button[id="saves-clear"]:hover {
    color: var(--color-text2);
}

#ui-dialog-body.settings button[id|="setting-control"] {
    background-color: var(--color-primary-d2);
    color: var(--color-text1);
}

#ui-dialog-body.settings button[id|="setting-control"]:hover {
    background-color: var(--color-primary-l2);
    color: var(--color-text1);
}

#ui-dialog-body.settings button[id|="setting-control"].enabled {
    color: var(--color-text2);
}

#ui-dialog-body.settings button[id|="setting-control"].disabled {
    background-color: var(--color-primary-d);
    color: var(--color-text1);
}

/* 弹窗手机适配 */
@media (max-width: 500px) {
    #ui-dialog {
        min-width: calc(80%);
        max-width: calc(100%);
    }
}

/*加载页面*/
html[data-init="loading"] #init-loading {
    animation: init-loading-spin 2s linear infinite;
    /* 引用存在root里的svg变量，这部分是sc2引擎加载结束后网页自定义的加载界面 */
    background-image: var(--svg-mygo);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: auto;
    border: none;
    /* 移除修改版sc2引擎加载界面（那个mygo五色环）的中心遮罩，保证自定义图片显示完整 */
    -webkit-mask: none;
    mask: none;
}

/* 自定义部分 */
.sober-button {
    display: flex;
    width: auto;
    border-radius: 5px;
    text-align: center;
}

.sugar-button {
    display: grid;
    width: auto;
    height: auto;
    text-align: center;
}

.menu-button {
    display: grid;
    width: auto;
    height: 50%;
    text-align: center;
}

.warn-button {
    color: var(--color-text2);
    background: var(--color-accent);
}

.warn-card {
    color: var(--color-text2);
    background-color: var(--color-accent-d2);
    border: none;
    box-shadow: 2px 2px 5px rgba(var(--color-shadow-rgb), 0.3);
    padding: 0 4em;
    border-radius: 2em;
    font-weight: bold;
    display: inline-block;
    border-radius: 2em;
    text-align: center;
}

.warn-card .title {
    color: var(--color-accent-l2);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.warn-card .subtitle {
    color: var(--color-accent-l);
    font-size: 1.5em;
    margin-top: -0.6em;
}

/*点击圆圈*/
.click-circle {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--color-accent);
    opacity: 1;
    transform: scale(1);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    pointer-events: none;
    z-index: 9999;
    /* 保证圆圈显示在最顶层 */
}
/* 正弦波背景 */
#wave-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* 显示在最底层 */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wbg-close #wave-bg {
    display: none;
}

.wbg-x #wave-bg {
    transform: rotate(90deg);
}

.wbg-125 #wave-bg {
    transform: scale(1.25);
}

.wbg-150 #wave-bg {
    transform: scale(1.5);
}

.wbg-200 #wave-bg {
    transform: scale(2);
}

.wbg-x-125 #wave-bg {
    transform: rotate(90deg) scale(1.25);
}

.wbg-x-150 #wave-bg {
    transform: rotate(90deg) scale(1.5);
}

.wbg-x-200 #wave-bg {
    transform: rotate(90deg) scale(2);
}