/* 这里包含所有css样式的配色，请不要在其他地方添加颜色相关属性以免被覆盖
    主题配色：
        默认-theme-drk为暗色主题"夜隠染"  |  黑蓝主题  |  "夜空尽染遍"
        theme-lgt为亮色主题"明弦音"  |  白蓝主题  |  "明亮弦清音"
        theme-szk为亮色主题"壱雫空"  |  蓝绿主题  |  "雨过天晴空"
        theme-nrs为亮色主题"無路矢"  |  黄蓝主题  |  "大漠狼烟起"
        theme-shd为暗色主题"影色舞"  |  紫蓝主题  |  "影色中起舞"
        theme-szhm为暗色主题"潜在表明"  |  紫蓝主题  |  "深渊心新生"
        theme-myu为暗色主题"迷星叫"  |  绿蓝主题  |  "迷星光交错"
    这里配置了每个主题的颜色变量，可以直接在每个主题的root内修改
*/

:root {
    /* 角色主题色 */
    --color-anon-rgb: 255, 136, 153;
    --color-soyo-rgb: 255, 221, 136;
    --color-tomori-rgb: 119, 187, 221;
    --color-taki-rgb: 119, 119, 170;
    --color-rana-rgb: 119, 221, 119;
    --color-mygo-rgb: 51, 136, 187;
    --color-saki-rgb: 119, 153, 204;
    --color-umiri-rgb: 51, 85, 102;
    --color-uika-rgb: 187, 153, 85;
    --color-nyamu-rgb: 170, 68, 119;
    --color-mutsumi-rgb: 119, 153, 119;
    --color-mujica-rgb: 136, 17, 68;
    --color-crychic-rgb: 96, 192, 196;
    --color-ppp-rgb: 255, 51, 119;
    --color-ag-rgb: 238, 51, 68;
    --color-pp-rgb: 51, 221, 170;
    --color-rose-rgb: 51, 68, 170;
    --color-hhw-rgb: 255, 221, 0;
    --color-monica-rgb: 51, 170, 255;
    --color-ras-rgb: 51, 204, 204;

    /* 黑白色带 */
    --color-b1-rgb: 17, 17, 17;
    --color-b2-rgb: 51, 51, 51;
    --color-b3-rgb: 102, 102, 102;
    --color-b4-rgb: 153, 153, 153;
    --color-b5-rgb: 170, 170, 170;
    --color-w1-rgb: 187, 187, 187;
    --color-w2-rgb: 204, 204, 204;
    --color-w3-rgb: 221, 221, 221;
    --color-w4-rgb: 238, 238, 238;
    --color-w5-rgb: 255, 255, 255;
}

:root.theme-drk {
    /* 默认-暗色主题"夜隠染" */

    /* 主色调-黑 */
    --color-primary-rgb: 26, 26, 42;
    --color-primary-l-rgb: 42, 42, 60;
    --color-primary-l2-rgb: 58, 58, 77;
    --color-primary-d-rgb: 13, 13, 26;
    --color-primary-d2-rgb: 5, 5, 15;

    /* 副色调-蓝 */
    --color-secondary-rgb: 51, 136, 187;
    --color-secondary-l-rgb: 95, 163, 209;
    --color-secondary-l2-rgb: 141, 190, 221;
    --color-secondary-d-rgb: 38, 114, 163;
    --color-secondary-d2-rgb: 26, 92, 138;

    /* 强调色-黄 */
    --color-accent-rgb: 255, 186, 26;
    --color-accent-l-rgb: 255, 218, 97;
    --color-accent-l2-rgb: 246, 229, 177;
    --color-accent-d-rgb: 255, 163, 26;
    --color-accent-d2-rgb: 255, 126, 56;
}

:root.theme-lgt {
    /* 亮色主题"明弦音" */

    /* 主色调-白 */
    --color-primary-rgb: 230, 230, 230;
    --color-primary-l-rgb: 242, 242, 242;
    --color-primary-l2-rgb: 255, 255, 255;
    --color-primary-d-rgb: 217, 217, 217;
    --color-primary-d2-rgb: 204, 204, 204;

    /* 副色调-蓝 */
    --color-secondary-rgb: 141, 190, 221;
    --color-secondary-l-rgb: 180, 212, 230;
    --color-secondary-l2-rgb: 209, 230, 240;
    --color-secondary-d-rgb: 109, 164, 204;
    --color-secondary-d2-rgb: 76, 138, 180;

    /* 强调色-粉 */
    --color-accent-rgb: 255, 77, 112;
    --color-accent-l-rgb: 255, 112, 134;
    --color-accent-l2-rgb: 255, 138, 155;
    --color-accent-d-rgb: 255, 41, 91;
    --color-accent-d2-rgb: 255, 0, 64;
}

:root.theme-szk {
    /* 亮色主题"壱雫空" */
    
    /* 主色调-雫绿 */
    --color-primary-rgb: 122, 192, 204;
    --color-primary-l-rgb: 155, 212, 221;
    --color-primary-l2-rgb: 184, 226, 232;
    --color-primary-d-rgb: 93, 175, 188;
    --color-primary-d2-rgb: 70, 156, 169;

    /* 副色调-迷子蓝 */
    --color-secondary-rgb: 51, 136, 187;
    --color-secondary-l-rgb: 95, 163, 209;
    --color-secondary-l2-rgb: 141, 190, 221;
    --color-secondary-d-rgb: 38, 114, 163;
    --color-secondary-d2-rgb: 26, 92, 138;

    /* 强调色-橙 */
    --color-accent-rgb: 255, 160, 122;
    --color-accent-l-rgb: 255, 196, 168;
    --color-accent-l2-rgb: 255, 224, 212;
    --color-accent-d-rgb: 240, 128, 88;
    --color-accent-d2-rgb: 209, 101, 62;
}

:root.theme-nrs {
    /* 亮色主题"無路矢" */
    
    /* 主色调-沙黄 */
    --color-primary-rgb: 212, 180, 142;
    --color-primary-l-rgb: 230, 210, 184;
    --color-primary-l2-rgb: 244, 233, 220;
    --color-primary-d-rgb: 192, 158, 112;
    --color-primary-d2-rgb: 168, 133, 85;
    
    /* 副色调-深蓝 */
    --color-secondary-rgb: 74, 107, 142;
    --color-secondary-l-rgb: 110, 143, 176;
    --color-secondary-l2-rgb: 155, 179, 204;
    --color-secondary-d-rgb: 50, 81, 112;
    --color-secondary-d2-rgb: 31, 56, 82;
    
    /* 强调色-深红 */
    --color-accent-rgb: 179, 74, 74;
    --color-accent-l-rgb: 207, 120, 120;
    --color-accent-l2-rgb: 229, 169, 169;
    --color-accent-d-rgb: 150, 52, 52;
    --color-accent-d2-rgb: 121, 34, 34;
}

:root.theme-shd {
    /* 暗色主题"影色舞" */

    /* 主色调-光蓝 */
    --color-primary-rgb: 58, 117, 230;
    --color-primary-l-rgb: 106, 149, 255;
    --color-primary-l2-rgb: 148, 179, 255;
    --color-primary-d-rgb: 29, 79, 199;
    --color-primary-d2-rgb: 10, 45, 143;
    
    /* 副色调-影紫 */
    --color-secondary-rgb: 139, 101, 254;
    --color-secondary-l-rgb: 168, 140, 255;
    --color-secondary-l2-rgb: 197, 179, 255;
    --color-secondary-d-rgb: 109, 76, 230;
    --color-secondary-d2-rgb: 79, 53, 194;
    
    /* 强调色-亮红 */
    --color-accent-rgb: 255, 107, 107;
    --color-accent-l-rgb: 255, 143, 143;
    --color-accent-l2-rgb: 255, 189, 189;
    --color-accent-d-rgb: 230, 76, 76;
    --color-accent-d2-rgb: 199, 50, 50;
}

:root.theme-szhm {
    /* 暗色主题"潜在表明" */

    /* 主色调-深紫 */
    --color-primary-rgb: 72, 70, 109;
    --color-primary-l-rgb: 93, 91, 131;
    --color-primary-l2-rgb: 117, 115, 155;
    --color-primary-d-rgb: 53, 51, 86;
    --color-primary-d2-rgb: 36, 35, 64;

    /* 副色调-渊蓝 */
    --color-secondary-rgb: 61, 90, 121;
    --color-secondary-l-rgb: 79, 110, 141;
    --color-secondary-l2-rgb: 107, 137, 166;
    --color-secondary-d-rgb: 43, 67, 93;
    --color-secondary-d2-rgb: 26, 48, 69;

    /* 强调色-光金 */
    --color-accent-rgb: 255, 215, 0;
    --color-accent-l-rgb: 255, 229, 92;
    --color-accent-l2-rgb: 255, 240, 163;
    --color-accent-d-rgb: 229, 193, 0;
    --color-accent-d2-rgb: 204, 170, 0;
}

:root.theme-myu {
    /* 暗色主题"迷星叫" */

    /* 主色调-深绿 */
    --color-primary-rgb: 45, 84, 94;
    --color-primary-l-rgb: 62, 106, 117;
    --color-primary-l2-rgb: 84, 130, 141;
    --color-primary-d-rgb: 31, 64, 74;
    --color-primary-d2-rgb: 18, 44, 54;

    /* 副色调-光蓝 */
    --color-secondary-rgb: 95, 158, 160;
    --color-secondary-l-rgb: 127, 185, 185;
    --color-secondary-l2-rgb: 163, 210, 210;
    --color-secondary-d-rgb: 69, 132, 134;
    --color-secondary-d2-rgb: 45, 105, 107;

    /* 强调色-星青 */
    --color-accent-rgb: 127, 255, 212;
    --color-accent-l-rgb: 165, 255, 228;
    --color-accent-l2-rgb: 207, 255, 244;
    --color-accent-d-rgb: 90, 216, 176;
    --color-accent-d2-rgb: 58, 176, 140;
}